<html>
  <body>
    <h1> New Menu Item </h1>

    <form action='#' method = 'POST'>

      <p>Name:</p>
      <input type='text' size='30' name='name' placeholder='Type the new name'>

      <p>Description:</p>
      <input type='text' size='30' name='description' placeholder='Type the new description'>

      <p>Price:</p>
      <input type='text' size='30' name='price' placeholder='Type the new price'>

      <p>Course:</p>
      <input type='radio' name='course' value='Appetizer'>Appetizer<br>
      <input type='radio' name='course' value='Entree'>Entree<br>
      <input type='radio' name='course' value='Dessert'>Dessert<br>
      <input type='radio' name='course' value='Beverage'>Beverage<br>

      <input type='submit' value='Create'>

    </form>

  </body>
</html>
